
<main class="flex">
    <div class="container">
        <div class="pokeImage"  *ngFor="let oak of pokemonOAK" >
            <article class="card">
                <div class="card-body">
                    <h1 class="card-body-title">
                        {{oak.name}}
                        <span>{{oak.type}}</span>
                    </h1>
                    <h3>HP</h3>
                    <div class="first">
                        <div [ngStyle]="{'width.%' : oak.defens}"  class="second"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-footer-social">
                        <h3>Atack</h3>
                        <p>{{oak.atack}}</p>
                    </div>
                    <div class="card-footer-social">
                        <h3>Special</h3>
                        <p>{{oak.espcial}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button mat-flat-button color="warn"  (click)="releasePoke(oak)" >Soltar</button>
                    <button mat-flat-button color="accent" (click)="healPokemon(oak)" >
                        Heal
                    </button>
                </div>
            </article>
        </div>
    </div>
</main>